@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.fruit-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50%;
  border: 1px solid red;
  padding: 10px;
}

#main-img {
  width: 150px;
  height: 200px;
  cursor: pointer;
}

.img-div {
  border: 1px solid blue;
  padding: 10px;
}
